<% content_for :head do %>
<style type="text/css">
    #doublescroll { float: right; font-family: Andale Mono, Courier New, Courier; width: 650px; overflow: auto; overflow-y: hidden; }
    #doublescroll p { margin: 0; padding: 0em; white-space: nowrap; }
    .corralation {color:red;}
</style>
<% end %>


<h1>  <%= @job_file.name %></h1>
<h4>(Click on any of the red columns to see what the column correlates to.)</h4>

<% length = @fasta_hash.values[0].strip.length; r100=''; r10=''; bottom=''; row_count=Math.log10(length).ceil; rows = Array.new( row_count,'')  %>
<div  style="width:90px; float: left">
  <br/>Sequence Id<br/>
   <% (1..row_count).each{|row| %>
       <br/>

        <%  } %>
    <% @fasta_hash.keys.each{|key| %>
      <%= key %><br/>
  <% } %>
</div>

<div id="doublescroll" >
  <div id="index">

  <% (1..(length/10)).each{|a| pos=(a*10).to_s.rjust( row_count) %>

       <% (0..row_count-2).reverse_each{|row| %>
        <% rows[row] += pos[row].rjust(10).gsub(' ','&nbsp;') %>

        <%  } %>
        <% rows[row_count-1] += "1234567890"  %>
  <%# r100 << "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{pos >= 100 ? pos.to_s[-3] : '&nbsp;'}"   %>
  <%# r10 << "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{pos >= 10 ? pos.to_s[-2] : '&nbsp;'}"   %>
  <%# bottom << "1234567890"  %>
    <% } %>
    <% rows.each{|r|  %>
    <p> <%=raw r %> </p>
    <% } %>
      <%#=raw r100 %>
      <%#=raw r10 %>
       <%#=raw bottom %>
     </div>
  <div id="data">
  <% @fasta_hash.values.each{|seg| %>
     <p> <%= raw seg %> </p>
  <% } %>
</div>

</div>


<script type="text/javascript">
    function DoubleScroll(element) {
        var scrollbar= document.createElement('div');
        scrollbar.appendChild(document.createElement('div'));
        scrollbar.style.overflow= 'auto';
        scrollbar.style.overflowY= 'hidden';
        scrollbar.firstChild.style.width= element.scrollWidth+'px';
        scrollbar.firstChild.style.paddingTop= '1px';
        scrollbar.firstChild.appendChild(document.createTextNode('\xA0'));
        scrollbar.onscroll= function() {
            element.scrollLeft= scrollbar.scrollLeft;
        };
        element.onscroll= function() {
            scrollbar.scrollLeft= element.scrollLeft;
        };
        element.parentNode.insertBefore(scrollbar, element);
    }

    DoubleScroll(document.getElementById('doublescroll'));
</script>

