<h1>New query</h1>

<%= link_to 'Back to Queries', project_path(@project_id) %>

<% form_for(@query) do |f| %>
  <p>
	Search tip: multiple selections can be made in the selection boxes by holding ctrl.
  </p>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit 'Search' %>
<% end %>
