<h1>New query</h1>

<% form_for(@query) do |f| %>
  <%= f.hidden_field(:project_id, :value => params[:id]) %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
	<%= submit_tag "Search"%>
    <img id="spinner" src="/images/ajax-loader.gif" alt="Searching..." style="visibility:hidden;" />
  </p>
<% end %>

<%= link_to 'Back', :back %>